<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h2>Your image is styled</h2>
    <img src="final.jpg" style="height: 200px">
    <br>
    <a href="final.jpg" download> <button> Download </button></a>
</body>
</html>