<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>

    {{msg}}

    <h2>Choose a style for your image</h2>

    <a href="http://localhost:3007/style?num=1">
        <img src="style-1.jpg" style="height: 200px">
    </a>
    <br>
    
    <a href="http://localhost:3007/style?num=2">
        <img src="style-2.jpg" style="height: 200px">
    </a>
    <br>

    <a href="http://localhost:3007/style?num=3">
        <img src="style-3.jpg" style="height: 200px">
    </a>
    <br>

    <a href="http://localhost:3007/style?num=4">
        <img src="style-4.jpg" style="height: 200px">
    </a>
    <br>

    <a href="http://localhost:3007/style?num=5">
        <img src="style-5.jpg" style="height: 200px">
    </a>
    
</body>
</html>